<body class="login-body">  
    <div class="login-container">
        <form action="/auth/login" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <label for="authEmail">Email</label>
                    <input id="authEmail" type="email" name="email" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="authPassword">Password</label>
                    <input id="authPassword" class="form-control" type="password" name="password">
                    <input class="btn orange" type="submit">
                </div>
            </div>
        </form>
    </div>
<body>