<body class="register-body">  
  <div class="row register-container">
      <form class="col s12" action="/auth/register" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <input id="authName" type="text" name="name" class="validate">
            <label for="authName">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="authPassword" type="password" name="password" class="validate">
            <label for="authPassword">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="authImage" type="text" name="image" class="validate">
            <label for="authImage">Image</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="authEmail" type="email" name="email" class="validate">
            <label for="authEmail">Email</label>
            <input class="btn" type="submit">
          </div>
        </div>
      </form>
  </div>
</body>       