<h2><%= currentUser.name %>'s Profile</h2>

<% anime.forEach(function(anime) { %>
    <h5><a href="/anime/<%= anime.name %>"><%= anime.name %></a></h5>
    <form method="POST" action="/anime/<%= anime.name %>/?_method=DELETE">
        <button class="btn" type="submit">DELETE</button>
    </form>
<% }); %> 
 
