/* LAYOUTS */

.nav-wrapper {
    background: black;

}

/* INDEX EJS */

.home-container {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.home-img {
    height: 280px;
    width: 200px
}

.home-pic-container{
    display: flex;
    height: 350px;
    width: 300px;
    /* border: 1px solid red; */
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 1rem;
    flex: 0
}

.anime-name {
    color: white;
}

.home-header {
    text-align: center;
}

/* SEARCH EJS */

.search-body {
    background-image: url("https://images.alphacoders.com/656/thumb-1920-656720.jpg");
    background-size: cover;

}

.seach-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.search-title {
    width: 100%;
    margin: 0;
}

/* ANIME EJS */

.anime-container {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.anime-details-container {
    display: flex;
    justify-content: flex-start; 
    /* border: 1px solid red; */
    flex-wrap: wrap;
    height: 400px;
    width: 600px;
    margin: 1rem;
}

.anime-pics {
    height: 400px;
    width: 330px;
    /* border: 1px solid red; */
    margin: 1rem;
}

.anime-pic {
    height: 400px;
    width: 290px;
}

/* PROFILE EJS */

.profile-body {
    background-image: url("https://cdn.wallpapersafari.com/84/12/ktoNAr.jpg");
}

.profile-top {
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

/* .profile-container {
    display: flex;
    /* border: 1px solid red; 
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
} */

.bookmark-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 800px;
    border: none;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp1959331.png");
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-size: 19px;
    height: 110px;
}

.profile-header {
    height: 200px;
    width: 400px;
    /* margin: 100px; */
    margin-bottom: 150px 
}

.profile-picture {
    height: 200px;
    width: 200px;
}