<body class="anime-comment-body"> 
  <div class="comment-container">  
      <% anime.comments.forEach(function(comment) { %>
        <div class="well">
          <p>
            "<%= comment.content %>" - <%= comment.name %>
          </p>
        </div>
      <% }) %>

      <form method="POST" action="/comment/anime/<%= anime.id %>">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="content">Comment</label>
          <textarea type="text" class="form-control" id="content" name="content" required></textarea>
        </div>
        <input type="submit" class="btn">
      </form>
  </div>
</body>