<form method="GET" action="/anime">
    <input type="text" name="name">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<% anime.forEach(function(anime) { %> 
    <h5><a href="/anime/<%= anime.title %>"><%= anime.title %></a></h5>
<% }); %>  
