
<body class="search-body">
    <div class="search-container">
        <form method="GET" action="/anime">
            <input type="text" name="name">
            <button class="btn blue darken-2" type="submit">Search</button>
        </form>
    </br>
    <div class="search-container">
    <% if(anime) { %>
        <% anime.forEach(function(anime) { %> 
            <div class="search-pic-container">
                <img class="search-img z-depth-5" src="<%= anime.image_url %>" alt="">
                <p><a  class="black-text" href="/anime/<%= anime.title %>"><%= anime.title %></a></p>
            </div>
        <% }); %> 
    <% } %>
    </div> 
    </div>       
</body>