
<body class="search-body">
    <div class="search-container">
        <form method="GET" action="/anime">
            <input type="text" name="name">
            <button class="btn blue darken-2" type="submit">Search</button>
        </form>
    </br>
    <div class="search-loop">
        <% anime.forEach(function(anime) { %> 
            <div class="collection">
                <h6 class="search-title"><a class="collection-item black-text" href="/anime/<%= anime.title %>"><%= anime.title %></a></h6>
            </div>
        <% }); %>
    </div>
    </div>       
</body>